<footer>
  <div class="container">
    <div class="footer-col">
	Many thanks to <a href="https://www.domoritz.de/">Dominik Moritz</a> for this site template<br/>
    </div>
    <div class="footer-col">
      <!-- <a href="https://github.com/domoritz/domoritz.github.io/edit/master/{{page.path}}">Edit this page</a> -->
    </div>
    <div class="footer-col site-desc">Last Updated: <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr></div>
  </div>
</footer>