{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}aria-current="page"{% endif %}>Publications</a>
    <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}aria-current="page"{% endif %}>CV</a>

    <span class="external">
      <a href="https://twitter.com/sharma_ashish_2"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
      <a href="https://scholar.google.com/citations?hl=en&user=AHUNnG0AAAAJ&view_op=list_works&sortby=pubdate"><i class="fas fa-graduation-cap"></i>  Google Scholar</a>
    </span>
  </nav>
</header>
